@import '../../templates/default-config.scss';
.footer {
  min-height: 290px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: $dark-gray;
  color: $white;
  display: flex;
  align-items: center;
  position: relative;

  &:before {
    @extend %slant-lines-white-horizontal;
    right: 0;
    top: 0;
    background-position: left 4px bottom;
  }

  a, p, span {
    color: $white;
    font-size: 14px ;
    line-height: 1.71;
  }

  a {
    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  .title {
    @extend %title;
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 10px;
  }

  .container {
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-column-gap: 100px;

    .main-group {
      width: 100%;
      max-width: 160px;
      .logo {
        width:100%;
        display: block;
        margin-bottom: 20px;
      }
      .social {
        margin-bottom: 45px;
        .title {
          margin-bottom: 10px;
        }
        justify-self: flex-end;
        .links {
          display: flex;
          li {
            margin-right: 20px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      .rights {
        width: 100%;
        max-width: 125px;
        p {
          &:first-child {
            &:before {
              content: '© ';
              margin-right: 5px;
              display: inline-block;
            }
          }
        }
      }
      .terms-and-privacy-links {
        text-align: center;
        .links {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px 0;
          li {
            height: 15px;
            display: flex;
            justify-content: center;
            &:not(:last-child)  {
              border-right: 1px solid $white;
              padding-right: 10px;
              margin-right: 10px;
            }
            a {
              line-height: 1;
            }
          }
        }
      }
    }

    .footer-groups {
      margin-top: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      > li {
        flex: 1;

        &:first-child {
          max-width: 200px;
        }
      }

      .footer-group {
        margin-right: 20px;
        flex: 1;
        .footer-group-heading {
          height: 35px;
          span {
            @extend %title;
            font-size: 18px;
            line-height: 1.56;
            margin-bottom: 10px;
          }
        }
        .footer-group-items {
          li {
            margin-bottom: 3px;
          }
        }
      }
    }
  }

  @media (max-width: ($wideDesktop)) {
    .container {
      grid-template-columns: 130px 1fr;
      grid-column-gap: 50px;
      .footer-groups {
        grid-column-gap: 20px;

        .footer-group-items {
          li {
            a {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }

  @media (max-width: ($tablet)) {
    .container {
      grid-template-columns: 1fr;
      justify-content: center;
      .main-group {
        max-width: 220px;
        margin: 0 auto;
        text-align: center;
        .social {
          .title , .links {
            justify-content: center;
          }
        }
        .rights {
          max-width: none;
        }
      }
    }
  }
}