@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: "Roboto-Medium";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Medium.ttf"); }
@font-face {
  font-family: "Roboto-Bold";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Bold.ttf"); }
@font-face {
  font-family: "Roboto-Light";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: "Roboto-Thin";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Thin.ttf"); }
@font-face {
  font-family: "DIN-BLAC_0";
  font-weight: normal;
  src: url("/assets/fonts/DIN-BLAC_0.OTF"); }
@font-face {
  font-family: "DIN-BOLA_0";
  font-weight: normal;
  src: url("/assets/fonts/DIN-BOLA_0.OTF"); }
.icon {
  display: block;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat; }
  .icon.close {
    width: 34px;
    height: 34px;
    background-image: url("/assets/images/icons/close.svg"); }
  .icon.menu {
    width: 36px;
    height: 23px;
    background-image: url("/assets/images/icons/menu.svg"); }
  .icon.right-arrow {
    width: 34px;
    height: 10px; }
    .icon.right-arrow.blush-pink {
      background-image: url("/assets/images/icons/right-arrow/right-arrow-blush-pink.svg"); }
    .icon.right-arrow.dodger-blue {
      background-image: url("/assets/images/icons/right-arrow/right-arrow-dodger-blue.svg"); }

.bg-gray.section {
  background-color: #f4f4f4; }
  .bg-gray.section .btn.btn-empty-with-shadow:hover {
    box-shadow: 9px 0 0px -2px #f4f4f4, 11px 0 0px -1px #333537, 11px 2px 0px -2px #333537, 11px -2px 0px -2px #333537; }
  .bg-gray.section .btn.btn-empty-with-shadow.dodger-blue:hover {
    box-shadow: 9px 0 0px -2px #f4f4f4, 11px 0 0px -1px #4892f7, 11px 2px 0px -2px #4892f7, 11px -2px 0px -2px #4892f7; }
  .bg-gray.section .btn.btn-empty-with-shadow.orangey-yellow:hover {
    box-shadow: 9px 0 0px -2px #f4f4f4, 11px 0 0px -1px #faae1b, 11px 2px 0px -2px #faae1b, 11px -2px 0px -2px #faae1b; }
  .bg-gray.section .btn.btn-empty-with-shadow.blush-pink:hover {
    box-shadow: 9px 0 0px -2px #f4f4f4, 11px 0 0px -1px #ff8183, 11px 2px 0px -2px #ff8183, 11px -2px 0px -2px #ff8183; }
  .bg-gray.section .btn.btn-empty-with-shadow.aqua-marine:hover {
    box-shadow: 9px 0 0px -2px #f4f4f4, 11px 0 0px -1px #35d0ad, 11px 2px 0px -2px #35d0ad, 11px -2px 0px -2px #35d0ad; }
  .bg-gray.section .btn.btn-empty-with-shadow.sapphire:hover {
    box-shadow: 9px 0 0px -2px #f4f4f4, 11px 0 0px -1px #1d4ba5, 11px 2px 0px -2px #1d4ba5, 11px -2px 0px -2px #1d4ba5; }

.bg-blush-pink.section {
  background-color: #ff8183; }
  .bg-blush-pink.strip-color.section:before {
    background-color: #ff8183; }
  .bg-blush-pink.section .btn-empty-with-shadow.white:hover {
    color: #ff8183 !important;
    box-shadow: 9px 0 0px -2px #ff8183, 11px 0 0px -1px #fff, 11px 2px 0px -2px #fff, 11px -2px 0px -2px #fff; }

.bg-dodger-blue.section {
  background-color: #4892f7; }
  .bg-dodger-blue.strip-color.section:before {
    background-color: #4892f7; }
  .bg-dodger-blue.section .btn-empty-with-shadow.white:hover {
    color: #4892f7 !important;
    box-shadow: 9px 0 0px -2px #4892f7, 11px 0 0px -1px #fff, 11px 2px 0px -2px #fff, 11px -2px 0px -2px #fff; }

.bg-dark-gray-2.section {
  background-color: #2e3436; }

.bg-sapphire.section {
  background-color: #1d4ba5; }
  .bg-sapphire.strip-color.section:before {
    background-color: #1d4ba5; }
  .bg-sapphire.section .btn-empty-with-shadow.white:hover {
    color: #1d4ba5 !important;
    box-shadow: 9px 0 0px -2px #1d4ba5, 11px 0 0px -1px #fff, 11px 2px 0px -2px #fff, 11px -2px 0px -2px #fff; }

.bg-orangey-yellow.section {
  background-color: #faae1b; }
  .bg-orangey-yellow.strip-color.section:before {
    background-color: #faae1b; }
  .bg-orangey-yellow.section .btn-empty-with-shadow.white:hover {
    color: #faae1b !important;
    box-shadow: 9px 0 0px -2px #faae1b, 11px 0 0px -1px #fff, 11px 2px 0px -2px #fff, 11px -2px 0px -2px #fff; }

.bg-aqua-marine.section {
  background-color: #35d0ad; }
  .bg-aqua-marine.strip-color.section:before {
    background-color: #35d0ad; }
  .bg-aqua-marine.section .btn-empty-with-shadow.white:hover {
    color: #35d0ad !important;
    box-shadow: 9px 0 0px -2px #35d0ad, 11px 0 0px -1px #fff, 11px 2px 0px -2px #fff, 11px -2px 0px -2px #fff; }

.bg-gray-and-white-strip.section {
  background-color: #f4f4f4; }
  .bg-gray-and-white-strip.section:before {
    content: '';
    width: 100%;
    height: 56%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-moz-keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-o-keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-webkit-keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-moz-keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-o-keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
#nprogress {
  pointer-events: none; }
  #nprogress .bar {
    background: #4892f7;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; }
  #nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #4892f7, 0 0 5px #4892f7;
    opacity: 1.0;
    transform: rotate(3deg) translate(0px, -4px); }
  #nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px; }
  #nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: #4892f7;
    border-left-color: #4892f7;
    border-radius: 50%;
    animation: nprogress-spinner 400ms linear infinite; }

.nprogress-custom-parent {
  overflow: hidden;
  position: relative; }

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute; }

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.section {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden; }
  .section.white {
    background-color: #fff; }
  .section.no-bg-color {
    background-color: transparent; }
  .section.strip-color:before {
    content: '';
    height: 25px;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .section.top-page-section {
    color: #fff; }
    .section.top-page-section .content {
      align-self: center; }
      .section.top-page-section .content .sub-title {
        font-family: "DIN-BOLA_0";
        font-weight: normal;
        font-size: 22px; }
      .section.top-page-section .content .text {
        font-family: "Roboto-Light";
        font-weight: normal; }
      .section.top-page-section .content .pre-text {
        font-family: "Roboto-Light";
        font-weight: normal; }
        .section.top-page-section .content .pre-text.pre-bold {
          font-family: "DIN-BOLA_0";
          font-weight: normal;
          margin-bottom: 1em;
          font-size: 22px;
          line-height: 1.2; }
      @media (max-width: 750px) {
        .section.top-page-section .content .sub-title {
          font-size: 18px; }
        .section.top-page-section .content .pre-text.pre-bold {
          font-size: 18px;
          line-height: 1.4; } }
    .section.top-page-section .figure {
      display: flex;
      justify-content: flex-end; }
  .section .container.direction-columns {
    flex-direction: column; }
  .section .section-header, .section .section-content, .section .section-footer {
    width: 100%;
    display: flex;
    box-sizing: border-box; }

/*# sourceMappingURL=section.css.map */
