@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: "Roboto-Medium";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Medium.ttf"); }
@font-face {
  font-family: "Roboto-Bold";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Bold.ttf"); }
@font-face {
  font-family: "Roboto-Light";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: "Roboto-Thin";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Thin.ttf"); }
@font-face {
  font-family: "DIN-BLAC_0";
  font-weight: normal;
  src: url("/assets/fonts/DIN-BLAC_0.OTF"); }
@font-face {
  font-family: "DIN-BOLA_0";
  font-weight: normal;
  src: url("/assets/fonts/DIN-BOLA_0.OTF"); }
.icon {
  display: block;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat; }
  .icon.close {
    width: 34px;
    height: 34px;
    background-image: url("/assets/images/icons/close.svg"); }
  .icon.menu {
    width: 36px;
    height: 23px;
    background-image: url("/assets/images/icons/menu.svg"); }
  .icon.right-arrow {
    width: 34px;
    height: 10px; }
    .icon.right-arrow.blush-pink {
      background-image: url("/assets/images/icons/right-arrow/right-arrow-blush-pink.svg"); }
    .icon.right-arrow.dodger-blue {
      background-image: url("/assets/images/icons/right-arrow/right-arrow-dodger-blue.svg"); }

.default-layout .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "DIN-BOLA_0";
  font-weight: normal;
  font-size: 32px;
  line-height: 1.41; }
  @media (max-width: 750px) {
    .default-layout .title {
      font-size: 20px; } }
  .default-layout .blush-pink.title {
    color: #ff8183; }
  .default-layout .aqua-marine.title {
    color: #35d0ad; }
  .default-layout .sapphire.title {
    color: #1d4ba5; }
  .default-layout .dodger-blue.title {
    color: #4892f7; }
  .default-layout .orangey-yellow.title {
    color: #faae1b; }
  .default-layout .main-title.title {
    font-size: 40px; }
    .default-layout .main-title.title .pre-text {
      font-family: "DIN-BOLA_0"; }
    @media (max-width: 750px) {
      .default-layout .main-title.title {
        font-size: 25px; } }
  .default-layout .text-align-center.title {
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto; }
    .default-layout .text-align-center.bottom-zigzag-decoration.title {
      padding-bottom: 30px;
      background-repeat: no-repeat;
      background-position: 50% bottom;
      background-image: url("/assets/images/decorations/zigzag-line-black-horizontal.svg"); }
      .default-layout .text-align-center.bottom-zigzag-decoration-sapphire.title {
        padding-bottom: 30px;
        background-repeat: no-repeat;
        background-position: 50% bottom;
        color: #1d4ba5;
        background-image: url("/assets/images/decorations/zigzag-line-sapphire-horizontal.svg"); }
      .default-layout .text-align-center.bottom-zigzag-decoration-aqua-marine.title {
        padding-bottom: 30px;
        background-repeat: no-repeat;
        background-position: 50% bottom;
        color: #35d0ad;
        background-image: url("/assets/images/decorations/zigzag-line-aqua-marine-horizontal.svg"); }
      .default-layout .text-align-center.bottom-zigzag-decoration-white.title {
        padding-bottom: 30px;
        background-repeat: no-repeat;
        background-position: 50% bottom;
        color: #fff;
        background-image: url("/assets/images/decorations/zigzag-line-white-horizontal.svg"); }
  .default-layout .box.title {
    padding: 35px 45px;
    border-radius: 8px;
    box-sizing: border-box; }
    .default-layout .box.gray.title {
      background-color: #f4f4f4; }
    .default-layout .box.dodger-blue.title {
      background-color: #4892f7; }
    .default-layout .box.sapphire.title {
      background-color: #1d4ba5; }
    .default-layout .box.dark-gray-2.title {
      background-color: #2e3436; }
    .default-layout .box.blush-pink.title {
      background-color: #ff8183; }
  .default-layout .title .pre-text {
    font-size: inherit;
    font-family: inherit; }

.default-layout .main-page-section article .content code {
  color: #507192;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.85em;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px; }
.default-layout .main-page-section article .content pre, .default-layout .main-page-section article .content pre[class*="language-"] {
  line-height: 1.4;
  padding: 1.25rem 1.5rem;
  margin: 0.85rem 0;
  background-color: #282c34;
  border-radius: 6px;
  overflow: auto; }
  .default-layout .main-page-section article .content pre code, .default-layout .main-page-section article .content pre[class*="language-"] code {
    color: #fff;
    padding: 0;
    background-color: transparent;
    border-radius: 0; }
.default-layout .main-page-section article p {
  line-height: 1.9;
  font-size: 18px; }
  @media (max-width: 750px) {
    .default-layout .main-page-section article p {
      font-size: 16px; } }
.default-layout .main-page-section article p > strong > em, .default-layout .main-page-section article p > strong > strong {
  text-decoration: underline; }
.default-layout .main-page-section article h1, .default-layout .main-page-section article h2, .default-layout .main-page-section article h3, .default-layout .main-page-section article h4, .default-layout .main-page-section article h5, .default-layout .main-page-section article h6 {
  margin-top: 50px; }
  .default-layout .main-page-section article h1 + hr, .default-layout .main-page-section article h2 + hr, .default-layout .main-page-section article h3 + hr, .default-layout .main-page-section article h4 + hr, .default-layout .main-page-section article h5 + hr, .default-layout .main-page-section article h6 + hr {
    margin-top: -10px;
    border-top: 1px solid #717078;
    margin-bottom: 25px; }
.default-layout .main-page-section article hr {
  border: 0;
  border-top: 1px dashed #aaa9b1;
  margin: 50px 0; }
.default-layout .main-page-section article table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto; }
.default-layout .main-page-section article thead {
  display: flex; }
  .default-layout .main-page-section article thead tr {
    background-color: #dfe2e5;
    display: flex;
    flex: 1; }
    .default-layout .main-page-section article thead tr th {
      border-right: 1px solid #fff;
      display: block;
      flex: 1; }
      .default-layout .main-page-section article thead tr th:last-child {
        border-right: 1px solid #dfe2e5; }
.default-layout .main-page-section article tbody {
  display: flex;
  flex-direction: column; }
  .default-layout .main-page-section article tbody tr {
    display: flex; }
    .default-layout .main-page-section article tbody tr td {
      flex: 1; }
.default-layout .main-page-section article tr {
  border-top: 1px solid #dfe2e5;
  background-color: #fff; }
  .default-layout .main-page-section article tr:nth-child(2n) {
    background-color: #f6f8fa; }
.default-layout .main-page-section article th, .default-layout .main-page-section article td {
  text-align: left;
  border: 1px solid #dfe2e5;
  padding: .6em 1em; }
.default-layout .main-page-section article kbd {
  background: #eee;
  border: solid 0.15rem #ddd;
  border-bottom: solid 0.25rem #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em; }
.default-layout .main-page-section article blockquote {
  font-size: 1.2rem;
  border-left: 0.25rem solid #333537;
  margin-left: 0;
  padding-left: 1rem;
  padding-top: 5px; }
  .default-layout .main-page-section article blockquote > blockquote {
    border-left: 0.25rem solid #aaa9b1;
    padding-top: 0px; }
    .default-layout .main-page-section article blockquote > blockquote > blockquote {
      border-left: .25rem solid #dfe2e5;
      padding-top: 0px; }
  .default-layout .main-page-section article blockquote h1, .default-layout .main-page-section article blockquote h2, .default-layout .main-page-section article blockquote h3, .default-layout .main-page-section article blockquote h4, .default-layout .main-page-section article blockquote h5, .default-layout .main-page-section article blockquote h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    padding-left: 20px;
    margin-left: -15px; }
  .default-layout .main-page-section article blockquote p {
    margin-bottom: 0;
    padding: 5px;
    padding-left: 20px;
    margin-left: -15px; }
.default-layout .main-page-section article a {
  word-break: break-word; }
.default-layout .main-page-section article ul {
  padding-inline-start: 20px; }
  .default-layout .main-page-section article ul ul {
    padding-inline-start: 0; }
  .default-layout .main-page-section article ul li {
    font-size: 18px;
    line-height: 1.9; }
    @media (max-width: 750px) {
      .default-layout .main-page-section article ul li {
        font-size: 16px; } }
  .default-layout .main-page-section article ul > li {
    display: block;
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px; }
    .default-layout .main-page-section article ul > li:before {
      position: absolute;
      top: 6px;
      left: 0;
      content: '';
      display: inline-block;
      width: 7px;
      height: 7px;
      -moz-border-radius: 7.5px;
      -webkit-border-radius: 7.5px;
      border-radius: 7.5px;
      margin-right: 10px;
      background-color: #333537; }
    .default-layout .main-page-section article ul > li > ul {
      margin-top: 10px; }
      .default-layout .main-page-section article ul > li > ul > li:before {
        background-color: #aaa9b1;
        width: 7px;
        height: 7px; }
      .default-layout .main-page-section article ul > li > ul > li ul {
        margin-top: 10px; }
        .default-layout .main-page-section article ul > li > ul > li ul > li:before {
          border: 1px solid #333537;
          background-color: #f4f4f4;
          width: 5px;
          height: 5px; }
.default-layout .main-page-section article code {
  color: #507192;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.85em;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px; }
  .default-layout .main-page-section article code .token.atrule, .default-layout .main-page-section article code .token.builtin, .default-layout .main-page-section article code .token.important, .default-layout .main-page-section article code .token.keyword, .default-layout .main-page-section article code .token.selector {
    color: #cc99cd; }
  .default-layout .main-page-section article code .token.boolean, .default-layout .main-page-section article code .token.function, .default-layout .main-page-section article code .token.number {
    color: #f08d49; }
  .default-layout .main-page-section article code .token.punctuation {
    color: #ccc; }
  .default-layout .main-page-section article code .token.attr-value, .default-layout .main-page-section article code .token.char, .default-layout .main-page-section article code .token.regex, .default-layout .main-page-section article code .token.string, .default-layout .main-page-section article code .token.variable, .default-layout .main-page-section article code .token.comment {
    color: #009200; }
  .default-layout .main-page-section article code .token.entity, .default-layout .main-page-section article code .token.operator, .default-layout .main-page-section article code .token.url {
    color: #67cdcc; }
  .default-layout .main-page-section article code .token.block-comment, .default-layout .main-page-section article code .token.cdata, .default-layout .main-page-section article code .token.comment, .default-layout .main-page-section article code .token.doctype, .default-layout .main-page-section article code .token.prolog {
    color: #999; }
.default-layout .main-page-section article pre, .default-layout .main-page-section article pre[class*="language-"] {
  line-height: 1.4;
  padding: 1.25rem 1.5rem;
  margin: 0.85rem 0;
  background-color: #282c34;
  border-radius: 6px;
  overflow: auto; }
  .default-layout .main-page-section article pre code, .default-layout .main-page-section article pre[class*="language-"] code {
    color: #fff;
    padding: 0;
    background-color: transparent;
    border-radius: 0; }
.default-layout .main-page-section article code[class*=language-], .default-layout .main-page-section article pre[class*=language-], .default-layout .main-page-section article pre code {
  color: #ccc;
  background: none;
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }
.default-layout .main-page-section article div[class*="language-"] {
  position: relative;
  background-color: #282c34;
  border-radius: 6px; }
  .default-layout .main-page-section article div[class*="language-"] .highlight-lines {
    user-select: none;
    padding-top: 1.3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 1.4; }
    .default-layout .main-page-section article div[class*="language-"] .highlight-lines .highlighted {
      background-color: black; }
  .default-layout .main-page-section article div[class*="language-"] pre, .default-layout .main-page-section article div[class*="language-"] pre[class*="language-"] {
    background: transparent;
    position: relative;
    z-index: 1; }
  .default-layout .main-page-section article div[class*="language-"]:not(.line-numbers-mode) .line-numbers-wrapper {
    display: none; }
  .default-layout .main-page-section article div[class*="language-"].line-numbers-mode .highlight-lines .highlighted {
    display: none; }
  .default-layout .main-page-section article div[class*="language-"].line-numbers-mode pre {
    padding-left: 4.5rem;
    vertical-align: middle; }
  .default-layout .main-page-section article div[class*="language-"].line-numbers-mode .line-numbers-wrapper {
    position: absolute;
    top: 0;
    width: 3.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    padding: 1.25rem 0;
    line-height: 1.4; }
    .default-layout .main-page-section article div[class*="language-"].line-numbers-mode .line-numbers-wrapper br {
      user-select: none; }
    .default-layout .main-page-section article div[class*="language-"].line-numbers-mode .line-numbers-wrapper .line-number {
      position: relative;
      z-index: 4;
      user-select: none;
      font-size: 0.85em; }
  .default-layout .main-page-section article div[class*="language-"].line-numbers-mode::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 3.5rem;
    height: 100%;
    border-radius: 6px 0 0 6px;
    border-right: 1px solid black;
    background-color: #282c34; }
.default-layout .main-page-section article div[class*="language-"] {
  position: relative; }
  .default-layout .main-page-section article div[class*="language-"]:before {
    position: absolute;
    z-index: 3;
    top: .8em;
    right: 1em;
    font-size: .75rem;
    color: rgba(255, 255, 255, 0.4); }
.default-layout .main-page-section article div[class~="language-js"]:before {
  content: "js"; }
.default-layout .main-page-section article div[class~="language-typescript"]:before, .default-layout .main-page-section article div[class~="language-ts"]:before {
  content: "ts"; }
.default-layout .main-page-section article div[class~="language-markup"]:before {
  content: "html"; }
.default-layout .main-page-section article div[class~="language-markdown"]:before {
  content: "md"; }
.default-layout .main-page-section article div[class~="language-json"]:before {
  content: "json"; }
.default-layout .main-page-section article div[class~="language-ruby"]:before {
  content: "rb"; }
.default-layout .main-page-section article div[class~="language-python"]:before {
  content: "py"; }
.default-layout .main-page-section article div[class~="language-bash"]:before {
  content: "sh"; }
.default-layout .main-page-section article .custom-block {
  border-radius: 0 8px 8px 0; }
  .default-layout .main-page-section article .custom-block .custom-block-title {
    font-weight: 600;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem; }
  .default-layout .main-page-section article .custom-block.tip, .default-layout .main-page-section article .custom-block.warning, .default-layout .main-page-section article .custom-block.danger {
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0; }
  .default-layout .main-page-section article .custom-block.tip {
    background-color: #fff;
    border-color: #42b983; }
  .default-layout .main-page-section article .custom-block.warning {
    background-color: rgba(255, 229, 100, 0.3);
    border-color: #b19300;
    color: black; }
    .default-layout .main-page-section article .custom-block.warning .custom-block-title {
      color: #645300; }
    .default-layout .main-page-section article .custom-block.warning a {
      color: #2c3e50; }
  .default-layout .main-page-section article .custom-block.danger {
    background-color: #ffe6e6;
    border-color: #990000;
    color: black; }
    .default-layout .main-page-section article .custom-block.danger .custom-block-title {
      color: #330000; }
    .default-layout .main-page-section article .custom-block.danger a {
      color: #2c3e50; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-moz-keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-o-keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-webkit-keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-moz-keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-o-keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
#nprogress {
  pointer-events: none; }
  #nprogress .bar {
    background: #4892f7;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; }
  #nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #4892f7, 0 0 5px #4892f7;
    opacity: 1.0;
    transform: rotate(3deg) translate(0px, -4px); }
  #nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px; }
  #nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: #4892f7;
    border-left-color: #4892f7;
    border-radius: 50%;
    animation: nprogress-spinner 400ms linear infinite; }

.nprogress-custom-parent {
  overflow: hidden;
  position: relative; }

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute; }

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.default-layout .title {
  margin-bottom: 1em; }
.default-layout .text {
  font-family: "Roboto-Regular";
  font-size: 18px;
  line-height: 1.5; }
  .default-layout .text p {
    margin-bottom: 1em; }
.default-layout .top-page-section {
  display: flex;
  min-height: 500px;
  padding-top: 100px;
  color: #fff;
  align-items: center;
  box-sizing: border-box; }
  .default-layout .top-page-section .section-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .default-layout .top-page-section .section-content .title, .default-layout .top-page-section .section-content .text {
      max-width: 620px; }
    .default-layout .top-page-section .section-content .figure {
      display: flex;
      justify-content: flex-end; }
  .default-layout .top-page-section .container {
    display: flex; }
    .default-layout .top-page-section .container .content, .default-layout .top-page-section .container .figure {
      flex: 1; }
    .default-layout .top-page-section .container .figure {
      display: flex;
      justify-content: center; }
.default-layout .main-page-section {
  padding-top: 100px;
  padding-bottom: 100px; }
  .default-layout .main-page-section .section-content {
    flex-direction: column; }
  .default-layout .main-page-section article {
    color: #333537; }
    .default-layout .main-page-section article ul > li:before {
      top: 12px; }
    .default-layout .main-page-section article .figure {
      margin-top: 40px;
      margin-bottom: 40px; }
      .default-layout .main-page-section article .figure.full-width img {
        width: 100%;
        height: 100%;
        max-width: none; }
      .default-layout .main-page-section article .figure.half-width {
        width: 50%; }
        .default-layout .main-page-section article .figure.half-width img {
          width: 100%;
          height: auto; }
  .default-layout .main-page-section .social-share-section .title {
    font-size: 18px; }

/*# sourceMappingURL=page.css.map */
