@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


@-webkit-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}


@-webkit-keyframes slideInFromLeft {
  0%   { left: -100%; }
  100% { left: 0; }
}
@-moz-keyframes slideInFromLeft {
  0%   { left: -100%; }
  100% { left: 0; }
}
@-o-keyframes slideInFromLeft {
  0%   { left: -100%; }
  100% { left: 0; }
}
@keyframes slideInFromLeft {
  0%   { left: -100%; }
  100% { left: 0; }
}

@-webkit-keyframes slideOutToLeft {
  0%   { left: -100%; }
  100% { left: 0; }
}
@-moz-keyframes slideOutToLeft {
  0%   { left: -100%; }
  100% { left: 0; }
}
@-o-keyframes slideOutToLeft {
  0%   { left: -100%; }
  100% { left: 0; }
}
@keyframes slideOutToLeft {
  0%   { left: -100%; }
  100% { left: 0; }
}
