// COLORS
$black: #000;
$white: #fff;
$purplish-grey: #717078;
$purplish-grey-2: #aaa9b1;
$light-gray: #d2d2d2;
$gray: #f4f4f4;
$gray-2: #f8f4ec;
$dark-gray: #131415;
$dark-gray-2: #2e3436;
$charcoal-grey: #333537;
$dodger-blue: #00569e;
$blush-pink: #ff8183;
$aqua-marine: #35d0ad;
$orangey-yellow: #ffad18;
$sapphire : #1d4ba5;