@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: "Roboto-Medium";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Medium.ttf"); }
@font-face {
  font-family: "Roboto-Bold";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Bold.ttf"); }
@font-face {
  font-family: "Roboto-Light";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: "Roboto-Thin";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Thin.ttf"); }
@font-face {
  font-family: "DIN-BLAC_0";
  font-weight: normal;
  src: url("/assets/fonts/DIN-BLAC_0.OTF"); }
@font-face {
  font-family: "DIN-BOLA_0";
  font-weight: normal;
  src: url("/assets/fonts/DIN-BOLA_0.OTF"); }
.icon {
  display: block;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat; }
  .icon.close {
    width: 34px;
    height: 34px;
    background-image: url("/assets/images/icons/close.svg"); }
  .icon.menu {
    width: 36px;
    height: 23px;
    background-image: url("/assets/images/icons/menu.svg"); }
  .icon.right-arrow {
    width: 34px;
    height: 10px; }
    .icon.right-arrow.blush-pink {
      background-image: url("/assets/images/icons/right-arrow/right-arrow-blush-pink.svg"); }
    .icon.right-arrow.dodger-blue {
      background-image: url("/assets/images/icons/right-arrow/right-arrow-dodger-blue.svg"); }

.popup .figure {
  transition: all 0.3s; }
  .popup .with-fill-shadow.figure img, .popup .with-fill-shadow-bottom.figure img {
    width: 105%;
    max-width: 105%; }
  .popup .with-fill-shadow.figure {
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #333537;
    box-shadow: 9px 0 0px -2px #333537, 11px 0 0px -1px #333537, 11px 2px 0px -2px #333537, 11px -2px 0px -2px #333537; }
    .popup .with-fill-shadow.blush-pink.figure {
      border: 2px solid #ff8183;
      box-shadow: 9px 0 0px -2px #ff8183, 11px 0 0px -1px #ff8183, 11px 2px 0px -2px #ff8183, 11px -2px 0px -2px #ff8183; }
      .popup .with-fill-shadow.blush-pink.hover-effect.figure:hover {
        box-shadow: 9px 0 0px -2px #fff, 11px 0 0px -1px #ff8183, 11px 2px 0px -2px #ff8183, 11px -2px 0px -2px #ff8183; }
    .popup .with-fill-shadow.sapphire.figure {
      border: 2px solid #1d4ba5;
      box-shadow: 9px 0 0px -2px #1d4ba5, 11px 0 0px -1px #1d4ba5, 11px 2px 0px -2px #1d4ba5, 11px -2px 0px -2px #1d4ba5; }
      .popup .with-fill-shadow.sapphire.hover-effect.figure:hover {
        box-shadow: 9px 0 0px -2px #fff, 11px 0 0px -1px #1d4ba5, 11px 2px 0px -2px #1d4ba5, 11px -2px 0px -2px #1d4ba5; }
    .popup .with-fill-shadow.dodger-blue.figure {
      border: 2px solid #4892f7;
      box-shadow: 9px 0 0px -2px #4892f7, 11px 0 0px -1px #4892f7, 11px 2px 0px -2px #4892f7, 11px -2px 0px -2px #4892f7; }
      .popup .with-fill-shadow.dodger-blue.hover-effect.figure:hover {
        box-shadow: 9px 0 0px -2px #fff, 11px 0 0px -1px #4892f7, 11px 2px 0px -2px #4892f7, 11px -2px 0px -2px #4892f7; }
    .popup .with-fill-shadow.orangey-yellow.figure {
      border: 2px solid #faae1b;
      box-shadow: 9px 0 0px -2px #faae1b, 11px 0 0px -1px #faae1b, 11px 2px 0px -2px #faae1b, 11px -2px 0px -2px #faae1b; }
      .popup .with-fill-shadow.orangey-yellow.hover-effect.figure:hover {
        box-shadow: 9px 0 0px -2px #fff, 11px 0 0px -1px #faae1b, 11px 2px 0px -2px #faae1b, 11px -2px 0px -2px #faae1b; }
    .popup .with-fill-shadow.aqua-marine.figure {
      border: 2px solid #35d0ad;
      box-shadow: 9px 0 0px -2px #35d0ad, 11px 0 0px -1px #35d0ad, 11px 2px 0px -2px #35d0ad, 11px -2px 0px -2px #35d0ad; }
      .popup .with-fill-shadow.aqua-marine.hover-effect.figure:hover {
        box-shadow: 9px 0 0px -2px #fff, 11px 0 0px -1px #35d0ad, 11px 2px 0px -2px #35d0ad, 11px -2px 0px -2px #35d0ad; }
    .popup .with-fill-shadow.hover-effect.figure:hover {
      box-shadow: 9px 0 0px -2px #fff, 11px 0 0px -1px #333537, 11px 2px 0px -2px #333537, 11px -2px 0px -2px #333537; }
  .popup .with-fill-shadow-bottom.figure {
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #333537;
    box-shadow: 0 9px 0px -2px #333537, 0 11px 0px 1px #333537, -2px 11px 0px -2px #333537, -2px 11px 0px -2px #333537; }
    .popup .with-fill-shadow-bottom.blush-pink.figure {
      border: 2px solid #ff8183;
      box-shadow: 0 9px 0px -2px #ff8183, 0 11px 0px 1px #ff8183, -2px 11px 0px -2px #ff8183, -2px 11px 0px -2px #ff8183; }
      .popup .with-fill-shadow-bottom.blush-pink.hover-effect.figure:hover {
        box-shadow: 0px 9px 0px -2px #fff, 2px 11px 0px -2px #ff8183, 0px 10px 0px 0 #ff8183, 0px 10px 0px 0 #ff8183; }
    .popup .with-fill-shadow-bottom.sapphire.figure {
      border: 2px solid #1d4ba5;
      box-shadow: 0 9px 0px 0 #1d4ba5, 0 11px 0 0 #1d4ba5, 0 11px 0 0 #1d4ba5, 0 11px 0 0 #1d4ba5; }
      .popup .with-fill-shadow-bottom.sapphire.hover-effect.figure:hover {
        box-shadow: 0px 9px 0px -2px #fff, 2px 11px 0px -2px #1d4ba5, 0px 10px 0px 0 #1d4ba5, 0px 10px 0px 0 #1d4ba5; }
    .popup .with-fill-shadow-bottom.dodger-blue.figure {
      border: 2px solid #4892f7;
      box-shadow: 0 9px 0px -2px #4892f7, 0 11px 0px 1px #4892f7, -2px 11px 0px -2px #4892f7, -2px 11px 0px -2px #4892f7; }
      .popup .with-fill-shadow-bottom.dodger-blue.hover-effect.figure:hover {
        box-shadow: 0px 9px 0px -2px #fff, 2px 11px 0px -2px #4892f7, 0px 10px 0px 0 #4892f7, 0px 10px 0px 0 #4892f7; }
    .popup .with-fill-shadow-bottom.orangey-yellow.figure {
      border: 2px solid #faae1b;
      box-shadow: 0 9px 0px -2px #faae1b, 0 11px 0px 1px #faae1b, -2px 11px 0px -2px #faae1b, -2px 11px 0px -2px #faae1b; }
      .popup .with-fill-shadow-bottom.orangey-yellow.hover-effect.figure:hover {
        box-shadow: 0px 9px 0px -2px #fff, 2px 11px 0px -2px #faae1b, 0px 10px 0px 0 #faae1b, 0px 10px 0px 0 #faae1b; }
    .popup .with-fill-shadow-bottom.aqua-marine.figure {
      border: 2px solid #35d0ad;
      box-shadow: 0 9px 0px -2px #35d0ad, 0 11px 0px 1px #35d0ad, -2px 11px 0px -2px #35d0ad, -2px 11px 0px -2px #35d0ad; }
      .popup .with-fill-shadow-bottom.aqua-marine.hover-effect.figure:hover {
        box-shadow: 0px 9px 0px -2px #fff, 2px 11px 0px -2px #35d0ad, 0px 10px 0px 0 #35d0ad, 0px 10px 0px 0 #35d0ad; }
    .popup .with-fill-shadow-bottom.hover-effect.figure:hover {
      box-shadow: 0px 9px 0px -1px #fff, 2px 11px 0px -1px #333537, -1px 11px 0px 0 #333537, -1px 11px 0px 0 #333537; }

.popup .inline-icon svg {
  width: 20px;
  height: 20px; }
.popup .inline-icon svg > g {
  fill: #333537; }
.popup .inline-icon svg > g > path {
  fill: #333537; }
.blush-pink.popup .inline-icon svg > g {
  fill: #ff8183; }
.blush-pink.popup .inline-icon svg > g > path {
  fill: #ff8183; }
.aqua-marine.popup .inline-icon svg > g {
  fill: #35d0ad; }
.aqua-marine.popup .inline-icon svg > g > path {
  fill: #35d0ad; }
.dodger-blue.popup .inline-icon svg > g {
  fill: #4892f7; }
.dodger-blue.popup .inline-icon svg > g > path {
  fill: #4892f7; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-moz-keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-o-keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-webkit-keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-moz-keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-o-keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
#nprogress {
  pointer-events: none; }
  #nprogress .bar {
    background: #4892f7;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; }
  #nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #4892f7, 0 0 5px #4892f7;
    opacity: 1.0;
    transform: rotate(3deg) translate(0px, -4px); }
  #nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px; }
  #nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: #4892f7;
    border-left-color: #4892f7;
    border-radius: 50%;
    animation: nprogress-spinner 400ms linear infinite; }

.nprogress-custom-parent {
  overflow: hidden;
  position: relative; }

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute; }

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: visibility 0.3s; }
  .popup.popup-close .popup-overlay {
    visibility: hidden;
    animation: fadeOut 0.3s; }
  .popup.popup-close .popup-container {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  .popup.popup-open {
    visibility: visible; }
    .popup.popup-open .popup-overlay {
      visibility: visible;
      animation: fadeIn 0.5s;
      opacity: 1; }
    .popup.popup-open .popup-container {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
  .popup .popup-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s; }
  .popup .popup-container {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 550px;
    max-width: 970px;
    min-width: 320px;
    background-color: #fff;
    padding: 30px 0;
    border: 2px solid #333537;
    border-radius: 15px;
    opacity: 0;
    transition: all 0.3s;
    display: flex;
    overflow: hidden;
    box-sizing: border-box; }
    .popup .popup-container .btn-close {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 40px;
      height: 40px;
      padding: 0; }
      .popup .popup-container .btn-close svg > g {
        stroke: #333537; }
    .popup .popup-container.direction-columns {
      flex-direction: column; }
    @media (max-width: 750px) {
      .popup .popup-container {
        max-height: none;
        height: 100%;
        border-radius: 0; } }
  .popup .section-header, .popup .section-content, .popup .section-footer {
    padding: 0 30px; }
  .popup .section-content {
    overflow-y: auto; }
  .popup.blush-pink .popup-container {
    border: 2px solid #ff8183; }
    .popup.blush-pink .popup-container .btn-close svg > g {
      stroke: #ff8183; }
  .popup.aqua-marine .popup-container {
    border: 2px solid #35d0ad; }
    .popup.aqua-marine .popup-container .btn-close svg > g {
      stroke: #35d0ad; }
  .popup.dodger-blue .popup-container {
    border: 2px solid #4892f7; }
    .popup.dodger-blue .popup-container .btn-close svg > g {
      stroke: #4892f7; }
  .popup.sapphire .popup-container {
    border: 2px solid #1d4ba5; }
    .popup.sapphire .popup-container .btn-close svg > g {
      stroke: #1d4ba5; }
  .popup .figure {
    max-height: 240px;
    margin-bottom: 15px;
    position: relative; }
  .popup video {
    width: 100%;
    height: auto; }

/*# sourceMappingURL=popup.css.map */
