@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: "Roboto-Medium";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Medium.ttf"); }
@font-face {
  font-family: "Roboto-Bold";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Bold.ttf"); }
@font-face {
  font-family: "Roboto-Light";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: "Roboto-Thin";
  font-weight: normal;
  src: url("/assets/fonts/Roboto-Thin.ttf"); }
@font-face {
  font-family: "DIN-BLAC_0";
  font-weight: normal;
  src: url("/assets/fonts/DIN-BLAC_0.OTF"); }
@font-face {
  font-family: "DIN-BOLA_0";
  font-weight: normal;
  src: url("/assets/fonts/DIN-BOLA_0.OTF"); }
.icon {
  display: block;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat; }
  .icon.close {
    width: 34px;
    height: 34px;
    background-image: url("/assets/images/icons/close.svg"); }
  .icon.menu {
    width: 36px;
    height: 23px;
    background-image: url("/assets/images/icons/menu.svg"); }
  .icon.right-arrow {
    width: 34px;
    height: 10px; }
    .icon.right-arrow.blush-pink {
      background-image: url("/assets/images/icons/right-arrow/right-arrow-blush-pink.svg"); }
    .icon.right-arrow.dodger-blue {
      background-image: url("/assets/images/icons/right-arrow/right-arrow-dodger-blue.svg"); }

.list-item .group-icon {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px; }
  .list-item .group-icon:before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 2px;
    height: 18px;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -9px; }
  .list-item .group-icon:after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 18px;
    height: 2px;
    left: 50%;
    margin-left: -9px;
    top: 50%;
    margin-top: -1px; }
  .list-item .open.group-icon:before {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg); }
  .list-item .open.group-icon:after {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
    opacity: 0; }
  .list-item .close.group-icon:before {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg); }
  .list-item .close.group-icon:after {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-moz-keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-o-keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@keyframes slideInFromLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-webkit-keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-moz-keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@-o-keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@keyframes slideOutToLeft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
#nprogress {
  pointer-events: none; }
  #nprogress .bar {
    background: #4892f7;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; }
  #nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #4892f7, 0 0 5px #4892f7;
    opacity: 1.0;
    transform: rotate(3deg) translate(0px, -4px); }
  #nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px; }
  #nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: #4892f7;
    border-left-color: #4892f7;
    border-radius: 50%;
    animation: nprogress-spinner 400ms linear infinite; }

.nprogress-custom-parent {
  overflow: hidden;
  position: relative; }

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute; }

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.list-item .group-icon {
  width: 15px;
  height: 16px;
  margin-right: 5px;
  position: absolute;
  left: 0;
  top: 0; }
  .list-item .group-icon.open:before, .list-item .group-icon.open:after, .list-item .group-icon.close:before, .list-item .group-icon.close:after {
    transition: all 0.4s ease-in-out; }
  .list-item .group-icon:before, .list-item .group-icon:after {
    background-color: #333537; }
  .list-item .group-icon:before {
    width: 2.5px;
    height: 10.5px;
    margin-top: -4px;
    margin-left: -3px; }
  .list-item .group-icon:after {
    height: 2.5px;
    width: 11px;
    margin-left: -7px;
    margin-top: 0; }
.list-item.collapsable .list-item-content {
  padding-left: 70px;
  overflow: hidden;
  transition: height .1s ease-out; }
  @media (max-width: 750px) {
    .list-item.collapsable .list-item-content {
      padding-left: 15px; } }
.list-item .list-item-heading {
  cursor: pointer;
  font-size: 22px;
  padding-left: 20px;
  position: relative; }

/*# sourceMappingURL=list-item-collapsable.css.map */
